:root{
    --primary-purple:#9754FB;
    --primary-light-purple:#F8F1FF;
    
    --primary-red:#FC8181;

    --primary-gray700:#2D3748;
    --primary-gray600:#4A5568;
    --primary-gray500:#718096;
    --primary-gray400:#A0AEC0;
    --primary-gray300:#CBD5E0;
    --primary-gray200:#E2E8F0;
    --primary-gray100:#EDF2F7;
}